<div class="page-header">
  <h1>
    WELCOME TO RENT SWAP!!!
  </h1>

  <h2>
   Welcome poor grad student! We're glad you're here - whether it's finding the
   perfect subletters (aka not paying dual rent - woot!) or finding housing (even in SF) as you go off to your dream 3 month job.
   This is the place for you!
 </h2>

  <h2>
    <a href="/listings/new" class="btn btn-lg btn-success"> I want to rent out my pad! </a>
    <a href="/listings" class="btn btn-lg btn-success"> I need to find housing! </a>
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
  </div>
</div>
